<h3>Equipment</h3>
<ul>
  <li *ngFor = "let piece of equipment">

    <span *ngIf = "pieceBeingEdited !== piece; else elsePiece">
      <span (click) = "edit(piece)" class = "editable-text">{{piece}} </span>
      <button (click) = "remove(piece)">remove</button>
    </span>
    <ng-template #elsePiece>
      <input #updatedPiece (keyup.enter) = "save(updatedPiece.value)" value = "{{piece}}"/>
      <button (click) = "save(updatedPiece.value, member)">save</button>
    </ng-template>

  </li>
</ul>
<input #equipmentName (keyup.enter) = "add(equipmentName.value)" type = "text"/>
<button (click) = "add(equipmentName.value)">Add</button>